.bigteksthome{
  font-size: 20px;
}

.animated:hover .textWrapper{
  margin-top:-20rem;
}

 #slideCarousel2{
  display: inherit;
}

 #slideCarousel{
  display: none;
}

#slideCarousel2 h2{
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

#slideCarousel h2{
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

@media (min-width: 768px) {
   #slideCarousel2{
    display: none;
  }

     #slideCarousel{
    display: inherit;
  }
}
