@media (min-width: 860px){
    .cWrapper .carousel-caption {
        margin-bottom: -45rem;
    }
    
    .cWrapper .carousel-inner:hover .carousel-caption {
        margin-bottom: -18rem;
    }
    
}

.cWrapper .marketing .blocktekst p{
    background-color: rgba(63,130,193,0.75); 
    height: 40rem;  
}

.cWrapper .carousel-inner:hover h2 {
    margin-top: 0rem;
    padding-top: 15rem;
}
.big a{
    color:#fff200;
}
 .blocktekst a{
    color:#fff200;
}
.big a:hover{
    color:#c1cde3;
}
.blocktekst:hover a{
    color:#c1cde3;
}

@media (min-width: 451px){
  .cWrapper .carousel-inner:hover .carousel-caption {
    margin-bottom: -6rem;
  }
}

.cWrapper .glyphicon-chevron-right, .glyphicon-chevron-up {
    top: 50%;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right:15px;
}

.carousel-control .glyphicon-chevron-left {
    left: 15px;
}

#myCarousel2 ul{
	display: none;
}

#myCarousel2 .active{
	display: inherit;
}

@media (min-width: 768px){
    .cWrapper .glyphicon-chevron-right, .glyphicon-chevron-up {
    top: 46%;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right:33px;
    }

    .cWrapper .glyphicon-chevron-left, .glyphicon-chevron-up {
    top: 46%;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
        left:33px;
    }

}