@media (min-width: 860px){
    .cWrapper .carousel-caption {
        margin-bottom: -45rem;
    }
    
    .cWrapper .block:hover .carousel-caption {
        margin-bottom: -18rem;
    }
    
}

.cWrapper .marketing .blocktekst p{
    background-color: rgba(63,130,193,0.75); 
    height: 40rem;  
}

.cWrapper .animated:hover h2 {
    margin-top: 0rem;
    padding-top: 20rem;
}
