{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='Hoe werkt het?' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/HoeWerktHet.css" />
{% endblock %}
{% block pageContent %}
<div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
          <div class="col-md-8">
            <div class="block blueHard ">
              <h2 class="featurette-heading">Waarom kiezen voor</h2>
              <h2 class="featurette-heading">zonnestad gent?</h2>
              <p class="lead">We ontzorgen bij de aankoop van jouw installatie! We hebben voor jou een prijs bedongen die concurreert met groepsaankopen, zorgen voor kwaliteitscontrole ter plaatse, garanderen kwalitatieve materialen en treden op bij geschillen!</p>
              <span class="glyphicon glyphicon-chevron-right glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
          
          <div class="col-md-4">
              <div class="block">
              <h2 class="featurette-heading">Zorgeloos zonnepanelen plaatsen</h2>
              <div class="textWrapper">
                  <a class="btn btn-lg btn-primary buttonWhite" href="#" role="button">Ik heb interesse</a>
              </div>
              <span class="glyphicon glyphicon-chevron-right glyphicon-grey" aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <div class="row featurette">
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">1. Meld je aan</h2>
              <p class="lead">Je droomt misschien al jaren van zonnepanelen en nu je dak gerenoveerd is of binnenkort zal worden, zet je de stap. Over enkele weken kunnen de zonnepanelen er liggen en bespaar je meteen op je energierekening.</p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">2. Advies op maat</h2>
              <p class="lead">Je droomt misschien al jaren van zonnepanelen en nu je dak gerenoveerd is of binnenkort zal worden, zet je de stap. Over enkele weken kunnen de zonnepanelen er liggen en bespaar je meteen op je energierekening.</p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">3. Detailofferte</h2>
              <p>Appartementen hebben vaak ideale daken, maar de eigendomsstructuur van het gebouw ligt moeilijker. Wij helpen mee in een plan van aanpak (RVB, syndicus, etc.) en het opstellen van de meest geschikte contracttypes.</p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">4.Installatie</h2>
              <p>Huurder of verhuurder? Ook hier bestaan er verschillende pistes met voordelen voor beide partijen. Wij helpen mee in de berekeningen en het opstellen van de meest geschikte contracttypes voor de lokale situatie. </p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">5. Eindcontrole</h2>
              <p>Ook grotere daken lenen zich tot heel interessante investeringen. Ofwel investeer je zelf, ofwel investeert EnerGent. Voor dit laatste zijn we op zoek naar daken die voldoende groot zijn en waar eveneens voldoende energie ter plaatse wordt verbruikt.  </p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block animated">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/300x150/auto" alt="Generic placeholder image">
              <h2 class="featurette-heading">Bemiddeling</h2>
              <p>Ook grotere daken lenen zich tot heel interessante investeringen. Ofwel investeer je zelf, ofwel investeert EnerGent. Voor dit laatste zijn we op zoek naar daken die voldoende groot zijn en waar eveneens voldoende energie ter plaatse wordt verbruikt.  </p>
              <span class="glyphicon glyphicon-chevron-up arrowRightBottom glyphicon-white" aria-hidden="true"></span>
            </div>
          </div>    
        </div>

      <div class="row featurette">
          <div class="col-md-8">
            <div class="block blueHard ">
              <h2 class="featurette-heading">FAQ</h2>
              <ul class="dropdown-menu">
                <li><a href="#">Over energent</a></li>
                <li><a href="#">zonnestad</a></li>
                <li><a href="#">wijkwerf</a></li>
                <li><a href="#">investeringen</a></li>
                <li><a href="#">andere projecten</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-4">
              <div class="block">
              <h2 class="featurette-heading">realistaties</h2>
              <span class="glyphicon glyphicon-chevron-right glyphicon-grey" aria-hidden="true"></span>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/{{ urlfix}}js/HoeWerktHet.js"></script>
{% endblock %}