{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='De installatie' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/HelpMee.css" />
{% endblock %}
{% block pageContent %}
       <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="cWrapper">
      <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
          <div class="col-md-12">
            <div class="block small blueHard intro">
              <p>
                Met onze partner-aannemer <a href="http://www.lineatrovata.com/nl" target="_blank">Linea Trovata</a> werden heel wat technische zaken afgesproken over de kwaliteit van de installatie. Hieronder vind je een overzicht. 
                </p>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4">
            <div class="block lightBlue">
            <h1 class="split">ZONNE - PANELEN</h1>
            <h1 class="dontSplit">ZONNEPANELEN</h1>
            </div>
          </div>
          <div class="col-md-8  ">
            <div class="block whiteGrey">
              <ul>
                <li><strong>Merk:</strong><br> <a href="http://2016.trinasolar.com/eu/index.html">Trina Solar</a> (Chinees bedrijf, een van de wereldwijde marktleiders, en zit volgens de <a href="http://www.solarscorecard.com/2015/2015-SVTC-Solar-Scorecard.pdf">Solar Scorecard</a> in de top 3 voor ecologische criteria, sociale criteria en recycleerbaarheid)</li>
                <li><strong>Lineaire vermogensgarantie van de panelen:</strong><br> minimum 90% op 10 jaar; minimum 80% op 25 jaar</li>
                <li><strong>Waarborg:</strong><br> Twee jaar omniumgarantie op materiaal en plaatsingskosten.</li>
                <li><strong>Paneelyypes:</strong>
                <ul>
                <li> <span style="font-style: italic;">Monokristallijne panelen</span> (zwart) van het type <a href="http://www.trinasolar.com/us/product/allmax/allmaxmplus-dd05a08ii">ALLMAX M PLUS-DD05A.08</a>: 285 Wp/paneel</li>
                <li><span style="font-style: italic;">Polykristallijne panelen</span> (donkerblauw) van het type <a href= "http://www.trinasolar.com/us/product/allmax/allmax-pd0508">ALLMAX-PD05.08</a>: 270 Wp/paneel </li>
                </ul>
                <li>Bij de opstelling wordt rekening gehouden met de esthetische voorkeuren van de  klant. </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li><strong>Merk:</strong><br><a href="http://www.ginlong.com/en/PV_Inverters.html">Solis</a>  (optioneel ook met <a href="https://www.solaredge.com/us/products/power-optimizer#/">Solar Edge</a>, <a href="https://enphase.com/nl-nl/producten-en-services/micro-omvormers">Emphase micro-omvormers</a> en <a href="http://www.sma-benelux.com/producten.html">SMA</a>, al dan niet in combinatie met <a href="https://www.tigoenergy.com/nl/products/">TIGO-optimizers</a>)</li>
              <li><strong>Garantie:</strong><br>10 jaar vanaf plaatsing (optioneel langer)</li>
              <li>Lokale support van de fabrikant</li>
              <li>Automatische ENS-beveiliging</li>
              <li>Voorzien van DC-switch geïntegreerd of extern</li>
              <li>Minimaal rendement: 97%</li>
              <li>Nominaal ingaand vermogen van de omvormer: tussen 85 en 105% van het piekvermogen van het aangesloten fotovoltaïsche array.</li>
              <li>De omvormer zoekt binnen voldoende ruime grenswaarden van de spanning steeds het maximale vermogen op. </li>
              <li>De omvormers starten automatisch op bij voldoende licht en automatisch af bij te weinig zonlicht.</li>
              <li>Omvormers worden geplaatst in een ruimte naar voorkeur.</li>
            </ul>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Omvormer</h1>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Bekabeling</h1>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li>De bekabeling is UV-bestendig, weerbestendig en waterdicht.</li>
              <li>De kabels worden zo kort mogelijk gehouden om verliezen tot een minimum te beperken. De kabelsecties worden aangepast in functie van de afstanden.</li>
              <li>Installateur staat in voor water- en luchtdichting dak, volgens dezelfde kwalitatieve eisen woning. </li>
              <li>Bekabeling onderscheidt zich van andere door specifieke kleur of markering. </li>
              <li>De kabels worden binnen het huis in een opbouwkabelgoot (pvc) gemonteerd. Er wordt gestreefd naar een maximale integratie met bestaande kabelsystemen.</li>
              <li>Tot 10 m kabellengte binnen de standaardprijs. </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li><strong>Materiaal:</strong>
              <ul>
              <li>Frame: aluminium</li>
              <li>Bevestigingsmateriaal: rvs</li>
              <li>Frame met volledige aardingscontinuïteit</li></ul>
              <li><strong>Montage</strong>
              <ul><li>Verankering van het frame op de pannenlatten (systemen waarbij frame enkel over de pannen wordt bevestigd, worden niet toegelaten)</li>
              <li>Aangepaste montage voor plat dak, leien dak of golfplatendak. </li></ul>
            </ul>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1 class="split">Montage - frame</h1>
            <h1 class="dontSplit">Montageframe</h1>
            <h1></h1>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Overzicht garanties</h1>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li><strong>plaatsing van de panelen:</strong><br> 10 jaar vanaf plaatsing</li>
              <li><strong>omvormers:</strong><br> 10 jaar vanaf plaatsing</li>
              <li><strong>Lineaire vermogensgarantie van de panelen:</strong>
              <ul><li>minimum 90% op 10 jaar</li>
              <li>minimum 80% op 25 jaar</li></ul>
              <li><strong>Waarborg:</strong><br> twee jaar omniumgarantie op materiaal en plaatsingskosten. </li>
            </ul>
            </div>
          </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/{{ urlfix}}js/HelpMee.js"></script>
{% endblock %}