{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='De installatie' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/public_html/css/HelpMee.css" />
{% endblock %}
{% block pageContent %}
       <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="cWrapper">
      <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
          <div class="col-md-12">
            <div class="block small blueHard">
              <p>
                Meer weten over de technische installatie? Hier vind je  een overzicht over de kwalitatieve eisen van de installatie:
                </p>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4">
            <div class="block lightBlue">
            <h1 class="split">ZONNE - PANELEN</h1>
            <h1 class="dontSplit">ZONNEPANELEN</h1>
            </div>
          </div>
          <div class="col-md-8  ">
            <div class="block whiteGrey">
              <ul>
                <li>Merk: Trina (Chinees bedrijf, een van de wereldwijde marktleiders, scoort bovendien bij de top 3 van de wereld  voor ecologische, sociale criteria en recycleerbaarheid1)</li>
                <li>Lineaire vermogensgarantie van de panelen:</li>
                <ul>
                  <li>Minimum 90% op 10 jaar</li>
                  <li>Minimum 80% op 25 jaar</li>
                </ul>
                <li>Waarborg: twee jaar omniumgarantie op materiaal en plaatsingskosten.</li>
                <li>Type 1: </li>
                <ul>
                  <li>Monokristallijne panelen van het type ALLMAX M PLUS-DD05A.08 </li>
                  <li>Vermogen: ± 280 Wp/paneel</li>
                  <li>Kleur: zwart</li>
                </ul>
                <li>Type 2: </li>
                <ul>
                  <li>Polykristallijne panelen van het type ALLMAX-PD05.08</li>
                  <li>Vermogen: ± 270 Wp/paneel</li>
                  <li>Kleur: donkerblauw </li>
                </ul>
                <li>Bij de opstelling wordt rekening gehouden met de esthetische voorkeuren van de  klant. </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li>Merk: SOLIS</li>
              <li>Garantie: 10 jaar vanaf plaatsing</li>
              <li>Lokale support van de fabrikant</li>
              <li>Automatische ENS-beveiliging</li>
              <li>Voorzien van DC-switch geïntegreerd of extern</li>
              <li>Minimaal rendement: 97%</li>
              <li>Nominaal ingaand vermogen van de omvormer: tussen 85 en 105% van het piekvermogen van het aangesloten fotovoltaïsche array.</li>
              <li>De omvormer zoekt binnen voldoende ruime grenswaarden van de spanning steeds het maximale vermogen op. </li>
              <li>De omvormers starten automatisch op bij voldoende licht en automatisch af bij te weinig zonlicht.</li>
              <li>Omvormers worden geplaatst in de technische ruimte, volgens de voorkeur van de klant</li>
            </ul>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Omvormer</h1>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Bekabeling</h1>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li>De bekabeling is UV-bestendig, weerbestendig en waterdicht.</li>
              <li>De leidingen worden zo kort mogelijk gehouden om verliezen tot een minimum te beperken. De leidingsecties worden aangepast in functie van de afstanden.</li>
              <li>Installateur staat in voor water- en luchtdichting dak, volgens dezelfde kwalitatieve eisen woning. </li>
              <li>Bekabeling onderscheidt zich van andere door specifieke kleur of markering. </li>
              <li>De kabels worden binnen het huis in een opbouwkabelgoot (pvc) gemonteerd. </li>
              <li>Tot 10 m kabellengte binnen de standaardprijs. </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li>Materiaal frame: aluminium</li>
              <li>Materiaal bevestigingsmateriaal: rvs</li>
              <li>Frame met volledige aardingscontinuïteit</li>
              <li>Verankering van het frame op de pannenlatten (systemen waarbij frame enkel over de pannen wordt bevestigd, worden niet toegelaten)</li>
              <li>Aangepaste montage voor plat dak, leien dak of golfplatendak. </li>
            </ul>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1 class="split">Montage - frame</h1>
            <h1 class="dontSplit">Montageframe</h1>
            <h1></h1>
            </div>
          </div>
        </div>
        <div class="row featurette equal">
          <div class="col-md-4 ">
            <div class="block medium lightBlue">
            <h1>Overzicht garanties</h1>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="block medium whiteGrey">
            <ul>
              <li>Productgarantie installatie (plaatsing van de panelen): 10 jaar vanaf plaatsing</li>
              <li>Garantie omvormers: 10 jaar vanaf plaatsing</li>
              <li>Lineaire vermogensgarantie van de panelen:</li>
              <li>Minimum 90% op 10 jaar</li>
              <li>Minimum 80% op 25 jaar</li>
              <li>Waarborg: twee jaar omniumgarantie op materiaal en plaatsingskosten. </li>
            </ul>
            </div>
          </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/public_html/js/HelpMee.js"></script>
{% endblock %}